aiohttp==3.11.11
alembic==1.14.0
asyncpg==0.30.0
elasticsearch==8.11.0
fastapi==0.115.0
greenlet==3.2.4
httpx==0.28.1
pip==25.2
pydantic-settings==2.11.0
redis==6.4.0
setuptools==78.1.0
uvicorn==0.32.0
